html {
  background-color: #f8f9fa;
  height: 100%;
}
:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 0;
}
#home-jumbo   {
  background: url("../img/intro-bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
}
#learn-jumbo   {
  background: url("../img/downloads-bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
}

code, div.code, span.code {
  background: #006600;
  color: #00dd1c;
  padding: 10px;
  margin: 5px;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

footer div p a:visited, footer div p a {
  color: #999999;
}