html {
  background-color: #f8f9fa;
  height: 100%;
}
:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 0;
}
#home-jumbo   {
  background: url("../img/intro-bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
}
#learn-jumbo   {
  background: url("../img/downloads-bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
}

code, div.code {
  background: #006600;
  color: #00dd1c;
  padding: 10px;
  margin: 5px;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
div.code pre {
  color: #00dd1c;
}
span.code {
  color: #e83e8c;
}

footer div p a:visited, footer div p a {
  color: #999999;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}


.error-page {
  margin: 20px auto 0;
  width: 600px;
}

@media (max-width: 767.98px) {
  .error-page {
    width: 100%;
  }
}

.error-page > .headline {
  float: left;
  font-size: 100px;
  font-weight: 300;
}

@media (max-width: 767.98px) {
  .error-page > .headline {
    float: none;
    text-align: center;
  }
}

.error-page > .error-content {
  display: block;
  margin-left: 190px;
}

@media (max-width: 767.98px) {
  .error-page > .error-content {
    margin-left: 0;
  }
}

.error-page > .error-content > h3 {
  font-size: 25px;
  font-weight: 300;
}

@media (max-width: 767.98px) {
  .error-page > .error-content > h3 {
    text-align: center;
  }
}
.img-circle {
  border-radius: 50%;
}
#user-avatar {
  height: 40px;
  margin-right: 10px;
}
a.nav-link.dropdown-toggle.avatar {
  padding-top: 0;
  padding-bottom: 0;
}